# secrets
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
.venv/
*.pkl

# caches & runtime data
*.sqlite

# node / next
node_modules/
.next/
out/
build/

# expo
.expo/

# os
.DS_Store

#aws
ec2.md
aws_key_pair.pem
.tar